body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

h2, strong {
    color: #007bff;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

main {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 60px;
}

.medicine {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 15px;
  margin: 10px;
  padding: 10px;
  width: 300px;
  text-align: center;
}

.medicine img {
  max-width: 100%;
  height: auto;
}

/* Estilos para a barra de busca */

.search {
  margin: 20px;
  text-align: center;
}

.search input {
  padding: 10px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.search button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 10px;
}

.search button:hover {
  background-color: #0056b3;
}
