:root {
  --laranja: #eb5e28;
  --cinza: #403d38;
  --branco: #f8f7f3;
  --cinza-claro: #575450;
}

body {
  background-color: var(--branco);
  color: var(--cinza);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  font-family: "Poppins", sans-serif;
  font-size: 1.2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  flex-wrap: wrap;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.header h1 {
  color: var(--laranja);
}

a {
  font-family: "Inter", sans-serif;
  font-size: 32px bold;
  color: var(--laranja);
  text-decoration: underline;
  text-decoration-thickness: 11%;
  text-underline-offset: 0.5em;
}

strong {
  color: var(--laranja);
}

main {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 60px;
}

.medicine {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 15px;
  margin: 10px;
  padding: 10px;
  width: 300px;
  text-align: center;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.3);
}

.medicine img {
  max-width: 100%;
  height: auto;
}

/* Estilos para a barra de busca */

.search {
  margin: 20px;
  text-align: center;
}

.search input {
  background: url(imagens/lupa.png) no-repeat left center;
  background-size: 20px 20px;
  padding: 10px 30px 10px 30px;
  width: 300px;
  border: 3px solid var(--cinza-claro);
  border-radius: 50px;
  font-size: 16px;
}

.search button {
  background-color: var(--laranja);
  color: var(--cinza);
  border: none;
  padding: 10px 20px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 10px;
}

.search button:hover {
  background-color: #ff4800;
}

/* Estilo para o pop-up */

.popup-content {
  display: none;
  position: absolute;
  background: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 1;
}

.medicine:hover .popup-content {
  display: block;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.7);
}

dialog {
  border: 0;
  border-radius: 0.5em;
  box-shadow: 0 0 1em rgb(0 0 0 / 0.4);
  width: 80%;
}

/* estilo lista */

ul {
  list-style: none;
}

ul li::before {
  content: '\2022';
  margin: 0 2px;
  color: #eb5e28;
  font-size: 1.1em;
}